<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="jl-fl-frm">
                    <div class="jl-lt-fm-img-m-g">
                        <div class="jl-lt-frm-img">
                            <h1 class="jl-pg-title">{{productData.name}}</h1>
                            <div>
                                <img src="{{productData.path}}{{productData.image}}" class="img-fluid">
                            </div>
                            <!-- banner image end here -->
                            <div class="jl-lt-content">
                                <div class="row">
                                    <div class="col-md-12">
                                        <p [innerHtml]="productData.description"></p>
                                    </div>
                                </div>
                                <!-- row end  here -->
                            </div>
                            <!-- form end here -->
                        </div>
                        <div class="jl-rt-nav-g">
                            <div class="jl-nmu">
                                <div class="title">Ga direct naar:</div>
                                <ul>
                                    <li><a href="javascript:void(0);"><i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                            Aanmelden </a></li>
                                    <li><a href="javascript:void(0);"><i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                            Documenten</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- right nav end here -->
                    </div>
                    <!-- g end here -->
                </div>
                <!-- jl frm end here -->
            </div>
        </div>
        <!-- row end here -->
    </div>
    <!-- container end here -->
</div>