<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="jl-fl-frm">
                    <div class="jl-lt-fm-img-m-g">
                        <div class="jl-lt-frm-img">
                            <h1 class="jl-pg-title">Transport</h1>
                            <div>
                                <img src="assets/images/banner.jpg" class="img-fluid">
                            </div>
                            <!-- banner image end here -->
                            <div class="jl-lt-content">
                                <div class="row">
                                    <div class="col-md-12">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum has been the industry's standard dummy text ever since the
                                            1500s, when an unknown printer took a galley of type and scrambled it to
                                            make a type specimen book. It has survived not only five centuries, but also
                                            the leap into electronic typesetting, remaining essentially unchanged. It
                                            was popularised in the 1960s with the release of Letraset sheets containing
                                            Lorem Ipsum passages, and more recently with desktop publishing software
                                            like Aldus PageMaker including versions of Lorem Ipsum.</p>

                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum has been the industry's standard dummy text ever since the
                                            1500s, when an unknown printer took a galley of type and scrambled it to
                                            make a type specimen book. It has survived not only five centuries, but also
                                            the leap into electronic typesetting, remaining essentially unchanged. It
                                            was popularised in the 1960s with the release of Letraset sheets containing
                                            Lorem Ipsum passages, and more recently with desktop publishing software
                                            like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                    </div>
                                </div>
                                <!-- row end  here -->
                            </div>
                            <!-- form end here -->
                        </div>
                        <div class="jl-rt-nav-g">
                            <div class="jl-nmu">
                                <div class="title">Ga direct naar:</div>
                                <ul>
                                    <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                            Aanmelden </a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                            Documenten</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- right nav end here -->
                    </div>
                    <!-- g end here -->
                </div>
                <!-- jl frm end here -->
            </div>
        </div>
        <!-- row end here -->
    </div>
    <!-- container end here -->
</div>