<!-- container fluid end here -->
<div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="jl-fl-frm jl-hm-intro">
            <h1 class="jl-pg-title">{{about.title}}</h1>
            <p [innerHtml]="about.content">Ben jij bekend met de logistiek- en/of transportsector en bereid om jouw expertise in te zetten bij
              Jezsel.nl? Meld je dan aan! </p>
          </div>
        </div>
      </div>
      <!-- row end here -->
    </div>
    <!-- container end here -->
  </div>
  <!-- container fluid end here -->
  <div class="container-fluid jl-hm-categories-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="jl-hm-categories-g" id="content-desc">
            <div class="jl-cat-tl-bx" *ngFor="let product of productLists">
              <div class="jl-cat-image">
                <img src="{{product.path}}{{product.thumbnail}}" class="img-fluid">
              </div>
              <!-- image end here -->
              <div class="jl-cat-content">
                <div class="title">{{product.name}}</div>
                <div class="content">
                  <div [innerHtml]="product.shortdescription">

                  </div>
                </div>
                <a href="javascript:void(0);" routerLink="/details/{{product.id}}">klik hier voor meer info <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
              </div>
              <!-- content end here -->
            </div>
            <!-- categories bx end here -->
          </div>
          <!-- g end here -->
        </div>
      </div>
      <!-- row end here -->
    </div>
    <!-- container end here -->
  </div>
  <!-- container fluid end here -->
  <div id="load_cover" *ngIf="showLoader">
    <div class="loaderInner">
      <div class="loader"></div>
      <div class="loader-logo"></div>
    </div>
  </div>
